###############################
### To be changed every run ###
###############################
wd="/hpc/pmc_vanheesch/projects/Leron/20221122_EpitopePrediction/20221122_EpitopePrediction"
scriptdir="${wd}/script"
logdir="${scriptdir}/log"
netmhcpan_outdir="${wd}/processed/netmhcpan_output_annotatedalleles"
netmhcpan_indir="${wd}/processed/netmhcpan_input"
net_alleles="${wd}/processed/netmhcpan_input/net_alleles.txt"
#######################
### Module versions ###
#######################
simul_array_runs=20